
.celdas {
    border: 2px solid blue;
    padding: 8px;
    margin: 2px;
}
.contenedor{
    border: 3px solid rgb(185, 126, 223);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
}